@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

body { 
    font-family: Arial, sans-serif; 
    text-align: center;
    width: 100vw;
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #1D4722;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1 {
    color: #ffffff;
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.75rem;
    padding: 15px;
    margin: 0;
}

button { 
    padding: 1rem; 
    font-size: 1.2rem; 
    margin-top: 1rem; 
}

.progress { 
    margin-top: 1rem; 
    font-size: 1.1rem; 
}

.flags {
    display: flex;
    flex-direction: column;
}

.flags > * {
    padding: 15px;
}

.station {
    display: flex;
}

.station img{
    width: 150px;
}

.station div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}